.ride-form {
   z-index: 100;
}

#loc-grid {
   margin: 5px;
}

.searchbar {
   margin-bottom: 5px;
}

.button-container {
   display: flex;
   justify-content: center;
}

.phone-number {
   padding: 5px;
   width: 45%;
}

.option-pickers {
   display: flex;
   justify-content: space-evenly;
}

@media (min-width: 200px) {
   .ride-form {
      float: right;
      width: 100%;
   }

   .date-picker {
      width: 45%;
   }

   .time-picker {
      width: 45%;
   }
}

@media (min-width: 960px) {
   #ride-form {
      width: 100%;
      max-width: 100% !important;
   }
}