@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,600&display=swap');
.title-header {
   font-family: 'Dosis', sans-serif;
   font-weight: 600;
   font-size: 3rem;
   margin-block-start: 0;
   margin-block-end: 0.5rem;
   padding: 0 0.5em;
}

.title-subheader {
   font-weight: 300;
   font-size: 1.5rem;
   padding: 0 .5em;
}

.remove-button-link {
   text-decoration: none;
}

.align-item-container {
   display: flex;
   justify-content: space-evenly;
}