.searchbar-grid {
   padding: 5px;
   position: absolute;
   z-index: 5;
   top: 10px;
   left: 10px;
   width: 100%;
   border-radius: 4px;
}

.searchbar {
   background-color: white;
   padding: 5px;
   border-radius:4px;

}