@media (min-width: 200px) {
   .grid-container {
      width: 100vw;
      height: 90vh;
   }

   .map-box {
      width: 100%;
      height: 100%;
   }

   .give-ride {
      margin: 0 5px;
   }
}

@media (min-width: 960px) {
   .grid-container {
      width: 100vw;
      height: 100vh;
   }

   .give-ride {
      width: 100% !important;
   }
}